{% extends 'base.html' %}

{% block chat_area %}
    <!-- Chat Area -->
    <div class="chat-area">

        <!-- Header -->
        <div class="chat-header">
            <h3>Room 3</h3>
        </div>

        <!-- Messages -->
        <div class="chat-messages">

            <div class="message received">
                <p>This is Room 3, Have a nice day sir!</p>
            </div>

            <div class="message sent">
                <p>Thanks buddy!</p>
            </div>

        </div>

{% endblock %}